#logotext {
    width: 175px;
    height: 50px;
}

#logophoto {
    height: 3.1em; 
    width: 3em;
}



#loginForm {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: #515151;
    gap: 10px;
    padding: 20px 0px 15px 0px;
    background-color: #0a192d;;
}

#loginpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#registercontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 400px;
    width: 350px;
    border-style: solid;
    border-width: 1px;
    border-color: #515151;
    height: 50px;
    color: white;
    background-color: #0a192d;
}

#signup {
    color: #b0b4fd;
}



.logo {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; 
    overflow: hidden;
}

.video-background video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    object-fit: cover; 
}



#form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
    border-radius: 20px;
}

#showpassword {
    cursor: pointer;
    height: 25px;
    width: 25px;
    padding-right: 3px;
    padding-top: 1px;
}
#showpassbutton {
    all: initial;
    height: 27px;
    width: 30px;
    background-color: #294161;
    border-radius: 0px 5px 5px 0px;
}
.input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
}

#forgotpassword {
    text-decoration: underline;
}

#loading {
    width: 30px;
    height: 30px;
}

#incorrectlogin {
    margin: 0;
    color: #ff6e6e;
}

.loginlabel {
    font-size: small;
    width: 204px;
}

.checkboxtext {
    font-size: medium;
}

#checkboxcontainer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#passwordfield {
    display: flex;
}

#passwordinput {
    width: 200px;
    border-radius: 5px 0px 0px 5px;
}