
#form {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px 50px;
    border-radius: 20px;
}

.input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border-style: none;
}

.line {
    color: #6d6a6a;
    background-color: #6d6a6a;
    height: 1px;
    border-style: solid;
    transform: translateY(8px);
    border-width: 1px;
    width: 100px;
}

#OR {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 10px;
    color: #a3a2a2;
    font-size: smaller;
}
