#chatlist {
    background-color: #0a192d;
    width: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    overflow-y: scroll;
}

#createchatmodal:open {
    
    background-color: #172c47;
    top: 40%;
    position: fixed;
    bottom: 60%;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: flex-end;
    border-style: none;
    border-radius: 3px;
}



#modalbackground {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: gray;
    opacity: 0.5;
}
#createchatform {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#modalexitbutton {
    background-color: #172c47;
    border-style: none;
    width: 20px;
    height: 20px;
    padding: 0;
}


#modalbutton {
    border-radius: 5px;
    border-style: none;
    background-color: #a1a1eb;
    width: 100px;
    height: 40px;
    transition: background-color 1s;
    margin-top: 20px;
}

#modalbutton:hover {
    background-color: #d3d3ff;
}

#modalbutton:disabled {
    background-color: #8a8a9b;
}

#createchatlabel {
    display: flex;
    flex-direction: column;
    color: #dddddd;
    width: 100%;
}
#chatnameinput {
    width: 100%;
}

.chatlistbutton {
    height: 50px;
    min-height: 50px;
    width: 100%;
    background-color: #0a192d;
    border-style: none;
    color: #dddddd;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: thin;
    border-color: #1e2323;
}

.chat {
    height: 60px;
    min-height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    gap: 10px;
    background-color: #0a192d;
    color: #dddddd;
    box-sizing: border-box;
    padding-left: 10px;
    padding-right: 10px;
    white-space: nowrap;
    border-style: none;
}
.chat:hover {
    background-color: #0e213a;
}


.chatname {
    overflow: hidden;
}